@import url(http://fonts.googleapis.com/css?family=Chango);

body {
    font-fammily: 'メイリオ',
    'Hiragino Kaku Gothic Pro',
    sans-serif;
    background-color: #edede3;
    background-image: url("../img/back.png");
    margin: 0;
}

h1 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0;
}

p {
    line-height: 1.5
}

/* ヘッダー */
header{
    background-color: #ffffff;
    border-bottom: solid 1px #aaaaaa;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 1px 7px #aaaaaa;
    box-shadow: 0 1px 7px #aaaaaa;
    padding: 5px;
    color: #ff8800;
    height:80px;
}

header h1 {
    font-family: 'Chago', cursive;
    font-size: 24px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    color: #000000;
}

header h1 img {
    vertical-align: -10px;
    margin-right: 5px;
}

/*記事*/
article, #message {
    background-color: #ffffff;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #aaaaaa;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    -webkit-box-shadow: 10px 10px 3px #aaaaaa;
    box-shadow: 10px 10px 3px #aaaaaa;
    border-radius: 20px;
    overflow: hidden;
}

/* フッター */
footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* 画像を中央に配置するレイアウト*/
figure.photo-center {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*　画像を左に配置するレイアウト　*/
figure.photo-left {
    margin: 0;
    margin-right: 20px;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

figure.photo-left img {
    width: 550px;
}

/*　画像を右に配置するレイアウト　*/
figure.photo-right {
    margin: 0;
    margin-left: 20px;
    float: right;
    text-align: center;
}

figure.photo-right img {
    width: 550px;
}

/* 小見出し*/
h2 {
    clear: both;
    border-bottom: solid 5px #c39f4a;
    margin-top: 30px;
}

/* リンク */
a {
    color: #b77d3c;
}

a img {
    border: none;
}

a:hover {
    color: #ff8800;
}

/* 関連記事へのリンク*/
aside {
    border: solid 2px #b6c588;
    border-radius: 5px;
    padding: 10px;
    background-color: #edede3;
    margin-top: 40px;
}

aside h1 {
    font-family: 'Chango', cursive;
    font-size: 18px;
    color: #c39f4a;
    border-bottom: dotted 1px #c39f4a;
}

/*aside ul {*/
    /*list-style-image: url(listmark.png)*/
/*}*/

aside a {
    color: #000000;
    text-decoration: none;
    text-align: left;
}

/*　ナビゲーションメニュー　*/
nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: -30px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 0;
    text-align: left;
    font-family: 'Chago', cursive;
}

nav li {
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 3px;
    text-align: left;
}

nav {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -70px;
    margin-bottom: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

/* 記事一覧ページ */
#posts article img {
    float: left;
    margin-right: 20px;
}

#posts article h1 {
    font-size: 24px;
}

#posts article {
    -webkit-text-size-adjust: 100%;
}

#posts section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#posts header {
    margin-bottom: 20px;
}

#posts time {
    font-size: 12px;
    color: #ffffff;
    background-color: #bdbc8f;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
}

#posts article a {
    color: #aaaaaa;
    text-decoration: none;
    display: block;
    overflow: hidden;
    padding: 20px;
}

#posts article {
    padding: 0;
}

#posts article a:hover {
    background-color: #ffe792;
}

/*Top*/
#photo {
    background-image: url(../img/photo.jpg)
}

#top header {
    margin-bottom: 0;
}

#photo {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #3f8ad6;
}

#photo h1 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Chango', cursive;
    text-shadow: 0 5px #000000;
}

#photo p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 5px #000000;
}

#photo input[type="submit"] {
    display: inline;
    padding: 10px 80px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(
            top,
            #ffe7b8,
            #ffaa00 100%
    );
    background-image: linear-gradient(
            to bottom,
            #ffe7b8 0%,
            #ffaa00 100%
    );
}

#photo table {
    margin-left: auto;
    margin-right:auto;
}
#photo input[type="email"],input[type="password"] {
    width:275px;
    height: 20px;
    margin-bottom:10px;
    font-size: large;
}

/* ２段組　*/
#container {
    width: 900px;
    margin-left:auto;
    margin-right: auto;
}

#content {
    width: 600px;
    float: left;
}

#menu {
    width:270px;
    float: right;
}

#content article {
    width:auto;
}

#content article img {
    width: 400px;
}

#menu aside {
    background-color: #ffffff;
    border:solid 1px #aaaaaa;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 3px #aaaaaa;
    box-shadow: 1px 1px 3px #aaaaaa;
    border-radius: 20px;
}

/*div#fukidashi:before {*/
    /*content:" ";*/
    /*position: absolute;*/
    /*top: 85px;*/
    /*left: 1025px;*/
    /*z-index:1;*/
    /*width: 0;*/
    /*height: 0;*/
    /*text-align: center;*/
    /*border: 12px solid transparent;*/
    /*border-bottom-color: #ffe792;*/
/*}*/

div#fukidashi{
    position: relative;
    left: 830px;
    display: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    text-align: left;
    background-color: #ffe792;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000000;
}

div#fukidashi ul a{
    text-align: left;
}
html {
    overflow-y: scroll;
}

input {
    font-size: small;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    font-size: small; }

/* Firefox 18- */
:-moz-placeholder {
    font-size: small; }

/* Firefox 19+ */
::-moz-placeholder {
    font-size: small; }

/* IE 10+ */
:-ms-input-placeholder {
    font-size: small; }
