<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>NSB-netpub - Top</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<header>
    <h1><a href="index.html"><img src="../assets/img/logo.png" alt="">NSB<br>netpub</a></h1>
    <nav>
        <div id="icon" onclick="openPopUp()" title="View Click">
            <img src="../assets/img/pubDoor.jpeg">
            <div id="fukidashi" onclick="openPopUp()">
                <ul>
                    <li><a href="index.html">Profile</a></li>
                    <li><a href="news.html">Login</a></li>
                    <li><a href="about.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body id="top">
<section>
    <div id="photo">
        <h1>NSB<br>netpub</h1>
        <p>お酒を飲みながらあれこれ語る酒場です。</p>
        <form id="selectRoom">
            <label>Create New Room!
                <input type="text">
                <label> or
                    <select name="room">
                        <option value=""></option>
                        <option value="...">部屋１</option>
                        <option value="...">部屋２</option>
                        <option value="...">部屋３</option>
                        <option value="...">部屋４</option>
                        <option value="...">部屋５</option>
                    </select>
                </label>
            </label><br><br>
            <input type="submit" value="Let Go!">
        </form>
    </div>
</section>

<script src="../assets/javascripts/common.js"></script>
</body>
<footer>
    <small>Copyrifht &copy; NSBprj, all rigts reserved.</small>
</footer>
</html>