<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>NSB-netpub - Login</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<header>
    <h1><a href="index.html"><img src="../assets/img/logo.png" alt="">NSB<br>netpub</a></h1>
    <nav>
        <ul>
            <li><a href="index.html">会員情報</a></li>
            <li><a href="news.html">ログイン</a></li>
            <li><a href="about.html">ログアウト</a></li>
        </ul>
    </nav>
</header>
<body id="top">
<section>
    <div id="photo">
        <h1>NSB<br>netpub</h1>
        <form>
            <table>
                <tr>
                    <th>ID</th>
                    <td><input type="email"></td>
                </tr>
                <tr>
                    <th>Pass</th>
                    <td><input type="password"></td>
                </tr>
            </table>
            <input type="submit">
        </form>
    </div>
</section>

</body>
<footer>
    <small>Copyrifht &copy; NSB Prj, all rigts reserved.</small>
</footer>
</html>