<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NSB-netpub - Top</title>
    <link rel="stylesheet"  type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}" />

</head>
<header>
    <h1><a href="Top.html"><img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt=""/>NSB<br/>netpub</a></h1>
    <nav>
        <div id="icon" onclick="openPopUp()" title="View Click">
            <img src="../static/img/pubDoor.jpeg" th:src="@{/img/pubDoor.jpeg}" alt="メニューリスト"/>
            <div id="fukidashi" onclick="openPopUp()">
                <ul>
                    <li><a href="Top.html">Profile</a></li>
                    <li><a href="news.html">Login</a></li>
                    <li><a href="about.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header >
<body id="top">
<section>
    <div id="photo">
        <h1>NSB<br />netpub</h1>
        <p>お酒を飲みながらあれこれ語る酒場です。</p>
        <form id="selectRoom">
            <label>Create New Room!
                <input type="text" />
                <label> or
                    <select name="room">
                        <option value=""></option>
                        <option th:each="room:${rooms}" th:value="${room.roomName}" th:text="${room.roomName}"></option>
                    </select>
                </label>
            </label><br/><br/>
            <input type="submit" value="Let Go!" />
        </form>
    </div>
</section>

<script src="../static/javascripts/common.js" th:src="@{/javascripts/common.js}"></script>
</body>
<footer>
    <small>Copyrifht &copy; NSBprj, all rigts reserved.</small>
</footer>
</html>